In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
boxes = pd.read_csv("Boxes.csv")
chests = pd.read_csv("Chests.csv")

In [3]:
boxes

   box_id  chest_id  apple_count  orange_count
0       2       NaN            6            15
1      18      14.0            4            15
2      19       3.0            8             4
3      12       2.0           19            20
4      20       6.0           12             9
5       8       6.0            9             9
6       3      14.0           16             7

In [4]:
chests

   chest_id  apple_count  orange_count
0         6            5             6
1        14           20            10
2         2            8             8
3         3           19             4
4        16           19            19

In [23]:
merge = pd.merge(boxes,chests, on = 'chest_id', how = 'left').fillna(0)
merge['apple_count'] = merge['apple_count_x'] + merge['apple_count_y']
merge['orange_count'] = merge['orange_count_x'] + merge['orange_count_y']

res = merge[['apple_count','orange_count']].sum().to_frame().T
res

   apple_count  orange_count
0        151.0         123.0