In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
calls = pd.read_csv('Calls.csv')
calls['person1'] = np.where(calls['from_id'] < calls['to_id'],calls['from_id'],calls['to_id'])
calls['person2'] = np.where(calls['from_id'] < calls['to_id'],calls['to_id'],calls['from_id'])
res = calls.groupby(['person1','person2'], as_index = False).agg(
    call_count = ('duration','count'),
    total_duration = ('duration','sum')
)
res

   person1  person2  call_count  total_duration
0        1        2           2              70
1        1        3           1              20
2        3        4           4             999

In [ ]:
| person1 | person2 | call_count | total_duration |
| ------- | ------- | ---------- | -------------- |
| 1       | 2       | 2          | 70             |
| 1       | 3       | 1          | 20             |
| 3       | 4       | 4          | 999            |