In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
users = pd.read_csv('Users.csv')
users

   user_id   name
0        1  aLice
1        2    bOb

In [14]:
users['name'] = users['name'].str[:1].str.upper() + users['name'].str[1:].str.lower()
users.sort_values('user_id')

   user_id   name
0        1  Alice
1        2    Bob