In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [23]:
orders = pd.read_csv('orders.csv')
seller = pd.read_csv('seller.csv')

In [25]:
orders['sale_date'] = pd.to_datetime(orders['sale_date'])
orders

   order_id  sale_date  order_cost  customer_id  seller_id
0         1 2020-03-01        1500          101          1
1         2 2020-05-25        2400          102          2
2         3 2019-05-25         800          101          3
3         4 2020-09-13        1000          103          2
4         5 2019-02-11         700          101          2

In [4]:
seller

   seller_id seller_name
0          1      Daniel
1          2   Elizabeth
2          3       Frank

In [22]:
merge = pd.merge(seller, orders.query('sale_date.dt.year == 2020'), on = 'seller_id', how = 'left')

res = merge.query("order_id.isna()")

res[['seller_name']].sort_values(['seller_name'])

  seller_name
3       Frank