In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
customers = pd.read_csv('customers.csv')
customers

   customer_id customer_name
0            1         Alice
1            4           Bob
2            5       Charlie

In [4]:
ids = pd.DataFrame({'ids':range(1,max(customers['customer_id'])+1)})
ids

   ids
0    0
1    1
2    2
3    3
4    4
5    5

In [6]:
merge = pd.merge(ids,customers, left_on = 'ids', right_on = 'customer_id', how = 'left')
res = merge.query("customer_id.isna()")

res[['ids']]

   ids
0    0
2    2
3    3