In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
daily_sales = pd.read_csv('DailySales.csv')
daily_sales.dtypes

date_id       object
make_name     object
lead_id        int64
partner_id     int64
dtype: object

In [8]:
daily_sales['date_id'] = pd.to_datetime(daily_sales['date_id'])
res = daily_sales.groupby(['date_id','make_name'], as_index = False).agg(
    unique_leads = ('lead_id','nunique'),
    unique_partners = ('partner_id','nunique')
)

res

     date_id make_name  unique_leads  unique_partners
0 2020-12-07     honda             3                2
1 2020-12-07    toyota             1                2
2 2020-12-08     honda             2                2
3 2020-12-08    toyota             2                3

In [ ]:
+-----------+-----------+--------------+-----------------+
| date_id   | make_name | unique_leads | unique_partners |
+-----------+-----------+--------------+-----------------+
| 2020-12-8 | toyota    | 2            | 3               |
| 2020-12-7 | toyota    | 1            | 2               |
| 2020-12-8 | honda     | 2            | 2               |
| 2020-12-7 | honda     | 3            | 2               |
+-----------+-----------+--------------+-----------------+